.history-body{
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding-top: 50px;
}

.oldImage {
  max-width:150px;
  max-height: 150px;
}

.right-part{
  width:1%;
}

.myBox {
    margin-top:0 !important;
    margin-bottom: 2rem !important;
    cursor: pointer;
}
