* @beia/Seniors

/docs/CODEOWNERS @beia/Governance

/platform/* @beia/Platform
**/dirs @beia/Platform
**/source.stack @beia/Platform

/projects/establish @vladwing
/projects/somedi @vladwing

/practice @beia/Junior-reviewers
