<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/webResources/images/solomon_favicon.png"/>
    <title>SOLOMON Contact</title>

    <script src="/webResources/scripts/jquery-3.3.1.js"></script>
    <script src="/webResources/scripts/SemanticUI/semantic.min.js"></script>
    <link rel="stylesheet" href="/webResources/scripts/SemanticUI/semantic.min.css"/>

    <script src="/webResources/scripts/FormanticUI/semantic.min.js"></script>
    <link rel="stylesheet" href="/webResources/scripts/FormanticUI/semantic.min.css"/>

    <link rel="stylesheet" href="/webResources/styles/topMenu.css"/>
    <link rel="stylesheet" href="/webResources/styles/contact.css"/>
</head>
<body>
<div class="top-menu">
    <div class="ui grid top-grid ">
        <div class="eight wide column top-column" align="left">
            <img src="/webResources/images/logo_solomon.png"
                 class="image"
                 style="cursor: pointer;"
                 onclick="javascript:window.location.href='/solomon/dashboard'">
        </div>
        <div class="eight wide column top-column" align="right">
            <!-- <strong class="menu-element">Name</strong>
            <i class="cog icon menu-element"></i> -->

            <div class="menu-element">
                <span id="userNameSpan" sec:authentication="name"></span>
                <i class="users icon"></i>
            </div>
        </div>
    </div>
</div>


<div class="contact-body">
    <div id="formDiv">
        <form class="ui form" id="contactForm">
            <div class="field">
                <label>Category *</label>
                <select class="ui fluid dropdown">
                    <option value="0">Technical problem</option>
                    <option value="1">User interaction guide</option>
                    <option value="2">Complaints</option>
                </select>
            </div>
            <div class="field">
                <label>Question text *</label>
                <textarea></textarea>
            </div>
            <button class="ui button">Submit</button>
        </form>
    </div>


    <div id="messageDiv" hidden>
        <div class="ui positive message">
            <div class="header">Your request has been succesfully submitted!</div>
            Thank you!
        </div>
    </div>
</div>



<script type="text/javascript">
    $('select.dropdown')
        .dropdown()
    ;

    $('#contactForm').submit(function(){
        document.getElementById("formDiv").setAttribute("hidden","true");
        document.getElementById("messageDiv").removeAttribute("hidden");
        return false;

    });
</script>
</body>
</html>
