<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/webResources/images/solomon_favicon.png"/>
    <title>SOLOMON LogIN</title>

    <script src="/webResources/scripts/jquery-3.3.1.js"></script>
    <script src="/webResources/scripts/SemanticUI/semantic.min.js"></script>
    <link rel="stylesheet" href="/webResources/scripts/SemanticUI/semantic.min.css">

    <script src="/webResources/scripts/Custom/login.js"></script>
    <link rel="stylesheet" href="/webResources/styles/style.css">
</head>
<body>

<div class="ui middle aligned center aligned grid" style="padding-left:25%; padding-right:25%;">
    <div class="column">

        <img src="/webResources/images/solomon.png" style="width:100%;" class="image">
        <form class="ui form" id="login-form" action="/solomon/login" method="post">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon" style="color: #f16667;"></i>
                        <input type="text" id="nameField" name="username"  placeholder="User Name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon" style="color: #f16667;"></i>
                        <input type="password" id="passField" name="password" placeholder="Password">
                    </div>
                </div>
                <div onclick="submitForm()" id="loginBtn" class="ui fluid teal submit button" style="background-color:#f16667;">
                    Login
                </div>
            </div>
        </form>

        <div id="messageDiv" th:if="${param.error}">
            <div class='ui negative message'>
                <div class='header'>Authentication error </div>
                Wrong UserName or Password!
            </div>
        </div>

        <div id="messageDiv" th:if="${param.logout}">
            <div class='ui positive message'>
                <div class='header'>Logged Out</div>
                You have been logged out!
            </div>
        </div>


        <div class="ui message" style="color: #f16667; background: #f166673b;">
            Not registered yet? <a href="/solomon/register">Join Now</a>
        </div>
    </div>
</div>


</body>
</html>
